# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.bundle

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.test

# typescript
*.tsbuildinfo

# Supabase
.supabase/
supabase/.temp/

# generated native folders
/ios
/android

# Google Services (Android & iOS)
google-services.json
GoogleService-Info.plist